<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Ayurveda"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MrsAyurveda"
        tools:targetApi="31"
        android:largeHeap="true">

        <activity
            android:name=".Purchaseproduct"
            android:exported="false" />
        <activity android:name=".RegisterPage">

            <!-- Add any intent filters or other configuration for the activity here -->
        </activity>
        <activity android:name=".ProductDetailsActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homeActivity"
            android:exported="false"
            />
        <activity android:name=".ProfileActivity"
            android:exported="false"/>
        <activity android:name=".ShareActivity"
            android:exported="false"/>
        <activity android:name=".OrderHistoryActivity"
            android:exported="false"/>

<!--        android:label="@string/app_name"-->
<!--        android:theme="@style/AppTheme"-->
    </application>

</manifest>